html{
    background: #21262e;
}

body{
    color: white;
    font-family: Raleway, sans-serif;
    font-size: small;
}

header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding:20px;
    background: #1d2127;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
}

main {
    margin: 10px;
    position:fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 36px;

    display: flex;
    flex-direction: column;
}

h1{
    margin-bottom: 5px;
    text-align: center;
}

main .search-bar-container {
    margin: 0 auto 20px;
    width: 600px;
    max-width: 100%;
    display: flex;

}
main .search-bar-container input {
    padding: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-width: 1px;
    border-color: rgba(255,255,255,0.25);
    background: transparent;
    color: white;
    flex-grow: 1;
}
main .search-bar-container button {
    padding: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-color: #1dd1a1;
    background-color: #10ac84;
    color: white;
    cursor: pointer;
}

main .iframe-container {
    width: 100%;
    flex-grow: 1;
}

main .iframe-container iframe{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgba(255,255,255,0.25);
}

footer{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    padding:10px;
    background: #1d2127;
}

/*
@media(max-width:600px){
    
}*/